<a href="https://colab.research.google.com/github/joannathom/data_1_checks/blob/main/Knowledgecheck1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-Pull in data from an API from https://apipheny.io/free-api/
-Find two descriptive statistics about the data
-Write a query in Pandas
-Select and print the SECOND and THIRD columns in the data
-Select and printthe FIRST 4 rowsof your data frame

In [34]:
#import statements
import pandas as pd
import requests as re
import json

In [53]:
#my api choice is the api
#pull in data from api
api_endpoint = "http://api.citybik.es/v2/networks"

response = re.get(api_endpoint)
response_json = response.json()
#
#df = pd.json_normalize(response_json['networks'])
df.head()

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.750000,37.616667,NaN,NaN,NaN,NaN,NaN
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.894550,10.546343,NaN,NaN,NaN,NaN,NaN
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Bicincittà,Siena,IT,43.318600,11.330600,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Cyclopolis,Maroussi,GR,38.056872,23.808330,NaN,NaN,NaN,NaN,NaN
4,"[Groundwork, Slough Borough Council, ITS]",/v2/networks/cycle-hire-slough,cycle-hire-slough,Cycle Hire,Slough,GB,51.511350,-0.591562,NaN,NaN,NaN,NaN,NaN

In [64]:
#Find and print Two descriptive details about your data
df['location.latitude'].mean()

42.70458156688647

In [59]:
df['location.country'].describe()

count     612
unique     52
top        IT
freq      123
Name: location.country, dtype: object

In [94]:
df['location.city'].value_counts()

Berlin           2
Rouen            2
Bratislava       2
São Paulo        2
Nicosia          2
                ..
Abu Dhabi        1
Castellucchio    1
Nice             1
Noto             1
Sion             1
Name: location.city, Length: 602, dtype: int64

In [129]:
#Write a query in Pandas to select a particular set of data.
mask = df['location.city'] == 'Moscow'
Mossi = df[mask]
Mossi

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.75,37.616667,NaN,NaN,NaN,NaN,NaN

In [126]:
#Select and print the SECOND and THIRD of the Data Query.
df [['href' , 'id']]

                                       href                         id
0              /v2/networks/velobike-moscow            velobike-moscow
1              /v2/networks/baerum-bysykkel            baerum-bysykkel
2             /v2/networks/bicincitta-siena           bicincitta-siena
3          /v2/networks/cyclopolis-maroussi        cyclopolis-maroussi
4            /v2/networks/cycle-hire-slough          cycle-hire-slough
..                                      ...                        ...
607   /v2/networks/publibike-sottoceneri-ti   publibike-sottoceneri-ti
608         /v2/networks/publibike-fribourg         publibike-fribourg
609  /v2/networks/publibike-lausanne-morges  publibike-lausanne-morges
610             /v2/networks/publibike-sion             publibike-sion
611         /v2/networks/lovelolibreservice         lovelolibreservice

[612 rows x 2 columns]

In [127]:
df.head(4)

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.750000,37.616667,NaN,NaN,NaN,NaN,NaN
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.894550,10.546343,NaN,NaN,NaN,NaN,NaN
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Bicincittà,Siena,IT,43.318600,11.330600,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Cyclopolis,Maroussi,GR,38.056872,23.808330,NaN,NaN,NaN,NaN,NaN